<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="_opened"
    [mode]="'push'"
    [keyClose]="'false'"
    [position]="'left'"
    [dock]="false"
    [dockedSize]="'50px'"
    [autoCollapseHeight]="500"
    [autoCollapseWidth]="500"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="true"
    [showBackdrop]="false"
    [animate]="true"
    [trapFocus]="true"
    [autoFocus]="true"
    [sidebarClass]="'demo-sidebar'"
    [ariaLabel]="'Quick Links'">
    <p>Sidebar contents</p>

    <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
    <p><a closeSidebar>This will close the sidebar too</a></p>

    <hr>

    <p>Throwup on your pillow.</p>
    <p>Steal the warm chair right after you get up.</p>
    <p>Use lap as chair hide head under blanket.</p>
    <p>Walk on car leaving trail of paw prints on hood.</p>
    <p>Steal the warm chair right after you get up.</p>
  </ng-sidebar>

  <div ng-sidebar-content>
      <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <button [hidden]="!_opened" (click)="_toggleOpened()"><i class="fa fa-times"></i></button>
        <button [hidden]="_opened" (click)="_toggleOpened()" class="demo-header__toggle">toogle sidebar</button>
        <a class="navbar-brand" href="#">FOCUS DASHBOARD</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <section>


      <div class="col-sm-8 col-md-4 card offset-md-4 offset-sm-2 auth">
        <div class="card-header ">
          Example Form
        </div>
        <div class="card-body ">
          <form action=" " method="post ">
            <div class="form-group ">
              <div class="input-group ">
                <input type="text " id="username2 " name="username2 " class="form-control " placeholder="Username ">
                <div class="input-group-append ">
                  <span class="input-group-text "><i class="fa fa-user "></i></span>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="input-group ">
                <input type="email " id="email2 " name="email2 " class="form-control " placeholder="Email ">
                <div class="input-group-append ">
                  <span class="input-group-text "><i class="fa fa-envelope "></i></span>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="input-group ">
                <input type="password " id="password2 " name="password2 " class="form-control " placeholder="Password ">
                <div class="input-group-append ">
                  <span class="input-group-text "><i class="fa fa-asterisk "></i></span>
                </div>
              </div>
            </div>
            <div class="form-group form-actions ">
              <button type="submit " class="btn btn-sm btn-secondary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</ng-sidebar-container>
