@charset "utf-8";

@import '../assets/variables';
@import '../assets/core';

body {
  height: 100%;
  width: 100%;
}

header {
  align-items: center;
  background: $color-scheme;
  box-shadow: 0 0.1em 1.5em rgba($dark-grey-scheme, 0.5);
  color: $white-scheme;
  display: flex;
  padding: 1em;
}

.demo-header__toggle {
  background: transparent;
  border: 0.15rem solid white;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  font-size: 0;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  width: 2rem;

&::after {
   background: white;
   content: '';
   height: 0.15rem;
   left: 0;
   margin-top: -0.075rem;
   position: absolute;
   top: 50%;
   width: 100%;
 }
}

.demo-sidebar {
  background-color: #fff;
  padding: 2em 1em;

&.ng-sidebar--opened.ng-sidebar--over {
   box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
 }
}

.demo-control {
  background-color: lightgray;
  border: 1px solid darkgray;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

&:hover {
   background-color: darkgray;
   color: white;
 }
}

.auth {
  margin-top: 100px;
}


















ng-sidebar-container {
  li {

    list-style: none;
  }
  .rightbar {
    background: none repeat scroll 0 0 #fff;
    border-left: 5px solid #ccc;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    left: 0;
    //width: 60px;
    z-index: 200;
  }
  .rightbar ul li {
    color: #333;
    font-weight: 100;
    padding: 16px 0 21px;
    ///*width: 0;*//
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

  }
  .rightbar ul li:hover {
    background: inherit;
    width: 100%;

  }
  .rightbar ul li a {
    color: #8b8b8b;
    float: right;
    font-size: 12px;
    line-height: 23px;
    padding-right: 54px !important;
    font-size: 10;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .accordion-heading .accordion-toggle {
    padding: 0;
  }

  .rightbar ul li a i {
    color: #8b8b8b;
    float: right;
    font-size: 22px;
    position: absolute;
    right: 15px;
    //transition: all 0.3s ease;
    //-webkit-transition: all 0.3s ease;
    //-moz-transition: all 0.3s ease;
    //-o-transition: all 0.3s ease;
    //transition: all 0.3s ease;
  }

  .tools-menu {
    position: relative;
  }

  .tools-menu .submenu {
    position: absolute;
    width: 100px;
    left: -140px;
    background-color: #fff;
    display: none;
  }

  .tools-menu:hover .submenu {
    display: block;
  }

  .noneStyle .tools-menu .submenu {
    display: block;
    position: static;
  }

  .accordion-inner ul li {
    padding: 10px 0;
    list-style: none;
  }
  .rightbar ul li:hover a,
  .rightbar ul li:hover a i {
    color: #23b7e5;
    text-decoration: none;
  }

  .noneStyle a {
    font-size: 13px !important;
  }
  .noneStyle {
    width: 144px;
    z-index: 1000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

  }
}
