<div class="d-flex align-items-stretch flex-nowrap min-height-100 h-100">
  <div class="bg-cover bg-2 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="assets/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase">Create an account</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['username'].hasError('required') && form.controls['username'].touched} || usernameExists">
        <label for="username" class="sr-only">
          Choose a username
        </label>
        <div _ngcontent-c12="" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div _ngcontent-c12="" class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" _ngcontent-c12="" class="form-control" placeholder="username" [formControl]="form.controls['username']" [ngClass]="{'form-control-danger': form.controls['username'].hasError('required') && form.controls['username'].touched}" (blur)="onCheckUsername()" [(ngModel)]="model.username" />
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched">Username is required.</div>
        <div class="alert alert-danger alert-dismissible" *ngIf="usernameExists">This Username is already taken</div>
        <div *ngIf="postResp.username">
          <div *ngIf="postResp.username.length !== 0">
            <div class="alert alert-danger alert-dismissible" *ngFor="let error of postResp.username">{{error}}</div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['email'].hasError('required') && form.controls['email'].touched} || emailExists">
        <label for="email" class="sr-only">
          Your Email Address
        </label>
        <div _ngcontent-c12="" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div _ngcontent-c12="" class="input-group-addon">@</div>
          <input _ngcontent-c12="" class="form-control" placeholder="email" type="email"  [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched} || emailExists" (change)="onCheckEmail()"/>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Email is required.</div>
        <div class="alert alert-danger alert-dismissible" *ngIf="emailExists">This email is already registered</div>
        <div *ngIf="postResp.email">
          <div class="alert alert-danger alert-dismissible" *ngFor="let error of postResp.email">{{error}}</div>
        </div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
        <label for="password" class="sr-only">
          Enter your password
        </label>
        <div _ngcontent-c12="" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div _ngcontent-c12="" class="input-group-addon"><i class="fa fa-eyedropper"></i></div>
          <input type="password" class="form-control" placeholder="password" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}"/>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
        <div *ngIf="postResp.password">
          <div class="alert alert-danger alert-dismissible" *ngFor="let error of postResp.password">{{error}}</div>
        </div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['confirm_password'].hasError('required') && form.controls['confirm_password'].touched}">
        <label for="confirm_password" class="sr-only">
          Confirm your password
        </label>
        <div _ngcontent-c12="" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div _ngcontent-c12="" class="input-group-addon"><i class="fa fa-eyedropper"></i></div>
          <input type="password" class="form-control" placeholder="confirm_password" [formControl]="form.controls['confirm_password']" [ngClass]="{'form-control-danger': form.controls['confirm_password'].hasError('required') && form.controls['confirm_password'].touched}"/>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="form.controls['confirm_password'].hasError('required') && form.controls['confirm_password'].touched">Confirm your password.</div>
        <div *ngIf="postResp.confirm_password">
          <div class="alert alert-danger alert-dismissible" *ngFor="let error of postResp.confirm_password">{{error}}</div>
        </div>
      </fieldset>
      <label class="custom-control custom-checkbox mb-1">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">I have read and agree to the terms of service.</span>
      </label>
      <div class="block mb-3"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
      <a class="btn btn-outline-primary btn-link" [routerLink]="['/authentication/signin']">Login!</a>
    </form>
  </div>
</div>
