$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$fa-font-path : '../node_modules/font-awesome/fonts';
$color-scheme: #6424d4;
$light-grey-scheme: #f6f6f6;
$dark-grey-scheme: #545555;
$white-scheme: #fff;
